RewriteEngine On

# Mengabaikan folder /uploads/ dari routing atau blokir
RewriteCond %{REQUEST_URI} !^/uploads/

# Jika file atau folder fisik ADA, izinkan diakses langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jika tidak ada, arahkan ke public/index.php
RewriteRule ^(.*)$ public/index.php?url=$1 [L,QSA]